#choice{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding: 2rem;
    background-image: url('../assets/images/pattern2.jpg');
}

#choiceCard{
    color: white;
    transition: all 1s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    border-radius: 2rem;
    height: 40vh;
}

#choiceCard:hover{
    backdrop-filter: blur(0px);
}

.cardText{
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

.frosted{
    border-radius: 1rem;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}