#choice{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding: 2rem;
    background-image: url('../assets/images/pattern2.jpg');
}

#choiceCard{
    border: 0.2rem solid white;
    background-color: black;
    color: white;
    transition: all 1s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
    border-radius: 2rem;
}

#choiceCard:hover{
    border: 0.2rem solid white;
    background-color: white;
    color: black;
}

.cardText{
    height:50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}