th,td{
    text-align: center;
}

#statsText{
    color:white;
    padding: 0.5rem;
    border-radius: 1rem;
}

#status{
    border-radius: 2rem;
    padding-top: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-size: 1.5rem;
}