#outer{
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
}

#start{
    transition: all 2s ease-in;
    width:80vw;
    height: 2rem;
    border-radius: 1rem;
}

#end{
    transition: all 2s ease-in;
    width:50vw;
    height: 2rem;
    border-radius: 1rem;
}

#graph{
    display: flex;
    flex-direction: column;
}

#graphText{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0rem 1rem 0rem 1rem;
    color:white;
}
